* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
mat-icon {
    user-select: none;
}
div.container {
    width: 90%;
    padding-top: 1.8em;
    margin: auto;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: green !important;
}
.mat-slide-toggle-bar, .mat-slide-toggle-thumb {
    transition: all 80ms linear;
    transition-property: background-color;
    transition-delay: 50ms;
}

div.container {
    width: 90%;
    padding-top: 2em;
    margin: auto;
}
/* HEADER START */
div.header {
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
}

div.header p {
    font-size: 2em ;
    font-weight: bold;
    letter-spacing: .02em;
    display: inline;
    margin: 0;
}
/* HEADER END */

/* TABLE START */
table.table {
    margin-top: 3em ;
}

table.table {
    text-align: center;
}
.table .delete {
    color: #bd2d2d;
}



tbody tr {
    transition: all 0.3s ease 0s;
}
tbody tr:hover {
    background-color: #9ece9a;
}
.table td #close {
    border: 0;
    background: transparent;
    color: #df4949;
    background: #ffe4e4;
    transition: all 0.3s ease-in-out 0s;
}
.table td #close:hover {
    color: #ffe4e4;
    background: #ff2222;
}