* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
mat-icon {
    user-select: none;
}
div.container {
    width: 90%;
    padding-top: 1.8em;
    margin: auto;
}

/* HEADER START */
div.header {
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.header p {
    font-size: 2em ;
    font-weight: bold;
    letter-spacing: .02em;
    display: inline;
    margin: 0;
}
/* HEADER END */

table.table {
    margin-top: 3em ;
}
/* TABLE START */

table.table {
    text-align: center;
}
.table .delete {
    color: #bd2d2d;
}

div.container {
    width: 90%;
    margin: auto;
}
div.header {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.header p {
    font-size: 2em ;
    font-weight: bold;
    letter-spacing: .02em;
    display: inline;
    margin: 0;
}


tbody tr {
    transition: all 0.3s ease 0s;
}
tbody tr:hover {
    background-color: #bebffd;
}
.form-switch input {
    margin: 0;
}

td .btn-outline-danger {
    padding: 0 1em;
}
/* TABLE END */