<div class='container'>

    <!-- feed header -->
    <div class='header'>
        <p>Users</p>
    </div>
    <table class="table table-striped table-responsive" *ngIf="users$">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Verified</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users$">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><mat-slide-toggle color="primary" [(ngModel)]="user.admin" (change)="updateAdminStatus(user._id,$event)"></mat-slide-toggle></td>
                <td> <mat-slide-toggle color="primary" [(ngModel)]="user.verified" (change)="updateVerificationStatus(user._id,$event)"></mat-slide-toggle>
                </td>
                <td> <mat-icon (click)="deleteUser(user._id)">delete</mat-icon> </td>
            </tr>
        </tbody>
    </table>

</div>