.container {
    color: black;
}
.container h2 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.content-container .title {
    font-size: 1.5em;
    padding: 0;
}

.content-container {
    padding: 2em 1em;
}
.content-container #desc {
    width: 50vw;
    overflow-wrap: break-word;
    overflow: auto;
}

.content-container .user-input{
    /* opacity: .5; */
    font-size: 1.3em ;
    outline: 0;
    padding: .5em .5em;
    border: 1px solid #474747;
    border-radius: 5px;
    resize: none;
}
div#attach-container input{
    /* display: inline-flex;
    justify-content: space-around;
    align-items: center;
    user-select: none; */
    color: #fff;
    padding: .8em 1em;
    background: #0d6efd;
    border-radius: 5px;
    cursor: pointer;
}
div.content-container .user-input {
    transition: all 0.3s ease 0s;
    border: 1px solid #c7c7c7;

}
div.content-container .user-input:hover {
    box-shadow: inset 0 0 2px #000000;

}

.btn#cancel {
    background: #a12a2a;
    border:#a12a2a 1px solid ;
    margin-right: 15px;
}
.btn#cancel:hover {
    background: #852424;
}