.container {
    /* height: 80vh;
    width: 80vw; */
}
.container h2 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
}

.content-container .title {
    font-size: 1.5em;
    padding: 0;
}

.content-container {
    padding: 2em 1em;
}
.content-container #desc {
    width: 50vw;
    overflow-wrap: break-word;
    overflow: auto;
}

.content-container .user-input{
    /* opacity: .5; */
    font-size: 1.3em ;
    outline: 0;
    border-radius: 10px;
    padding: .5em .5em;
    border: none;
    resize: none;
}
div#attach-container input{
    /* display: inline-flex;
    justify-content: space-around;
    align-items: center;
    user-select: none; */
    padding: .8em 1em;
    background: #0d6efd;
    border-radius: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

div#attach-container input {

}

.btn#cancel {
    background: #852222;
    border:#852222 1px solid ;
}