<div class="container" *ngIf="project">

    <!-- feed header -->
    <div class='header'>
        <p>Dashboard</p>

    </div>

    <div class='content-container'>
        <div class='img-container'>
            <img src="{{project.fileName}}" alt="">
        </div>

        <div class='content-info'>
            <p>{{project.name}}</p>
            <p>{{project.authorName}}</p>
            <p>{{project.description}}</p>
        </div>
    </div>

    <div class="count-track">
        <div class="img-count-container">
            <span>Images Uploaded: </span>
            <span id='img-count'>{{project.images}}</span>
        </div>
        <div class="audio-count-container">
            <span>Audio Uploaded: </span>
            <span id='audio-count'>{{project.audio}}</span>
        </div>
        <div class="video-count-container">
            <span>Videos Uploaded: </span>
            <span id='video-count'>{{project.videos}}</span>
        </div>
        <div class="text-count-container">
            <span>Text Uploaded: </span>
            <span id='text-count'>{{project.textFiles}}</span>
        </div>
        <div class="text-count-container">
            <span>Total Comments </span>
            <span id='text-count'>{{project.comments.length}}</span>
        </div>
    </div>

    <div class="table-container">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name of User</th>
                    <th>Commend/Reflection</th>
                    <th>Date Added</th>
                    <th>File</th>
                    <th>Type of File</th>
                </tr>
            </thead>
            <tbody *ngIf="projects$">
                <tr *ngFor="let comment of project.comments">
                    <td>{{comment.authorName}}</td>
                    <td>{{comment.comment}}</td>
                    <td>{{comment.uploaded | date}}</td>
                    <td *ngIf="comment.fileName"><a href="{{comment.fileName}}">File here</a></td>
                    <td *ngIf="!comment.fileName">No File</td>
                    <td>{{comment.fileType}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>