<!-- main container -->
<div class='container'>
    <!-- feed header -->
    <div class='header'>
        <p>Feed</p>

        <div class='search'>
            <mat-icon>search</mat-icon>
            <input type="text" id="input-search" placeholder="Search">
        </div>
    </div>

    <!-- content container -->
    <div class='content-container' *ngIf="projects$">
        <div class="frame" *ngFor="let project of projects$">
            <div class='feed-content' [routerLink]="['/feed/project', project._id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class='feed-img'>
                    <img src="{{project.fileName}}" alt="{{project.name}}">
                </div>

                <div class="details">
                    <p> {{project.name}} </p>
                    <span> {{project.uploaded | date}} </span>
                    <span>By {{project.authorName}} </span>
                </div>
            </div>
        </div>
    </div>




</div>