<!-- main container -->
<div class='container'>
    <!-- feed header -->
    <div class='header'>
        <p>Feed</p>

        <div class='search'>
            <input type="text" id="input-search" placeholder="Search">
        </div>
    </div>

    <!-- content container -->
    <div class='content-container'>
        <div class="frame">
            <div class='feed-content'>
                <div class='feed-img'>
                    <img src="../../assets/imgs/filler.png" alt="">
                </div>

                <p> Project Title </p>
                <span> Date </span>
            </div>
        </div>

        <div class="frame">
            <div class='feed-content'>
                <div class='feed-img'>
                    <img src="../../assets/imgs/filler.png" alt="">
                </div>

                <p> Project Title </p>
                <span> Date </span>
            </div>
        </div>

        <div class="frame">
            <div class='feed-content'>
                <div class='feed-img'>
                    <img src="../../assets/imgs/filler.png" alt="">
                </div>

                <p> Project Title </p>
                <span> Date </span>
            </div>
        </div>

        <div class="frame">
            <div class='feed-content'>
                <div class='feed-img'>
                    <img src="../../assets/imgs/filler.png" alt="">
                </div>

                <p> Project Title </p>
                <span> Date </span>
            </div>
        </div>

        <div class="frame">
            <div class='feed-content'>
                <div class='feed-img'>
                    <img src="../../assets/imgs/filler.png" alt="">
                </div>

                <p> Project Title </p>
                <span> Date </span>
            </div>
        </div>

    </div>

    


</div>