.main-container {
    display: flex;
    width: 100%;
    height: auto;
}
.sidebar {
    overflow: auto;
    position: sticky;
    width: 20%;
    height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
    border-right: 3px solid #F5F2F2;
}
.router-outlet {
    width: 80%;
    height: 100vh;
    margin: 0;
    background-color: FDFDFD;
}