.content {
    color: black;
}
.detail h2 {
    display: flex;
    justify-content: space-between;
}
#sender{
    font-weight: bold;
}

.user-message {
    font-size: 1.5em;
    outline: none;
    padding: .7em 1em;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    width: 50vw;
    resize: none;
    margin-bottom: 1em;
}
.user-message.message{
    border: 1px solid rgb(158, 206, 154);
}
/* .message .user-message {
    background-color: rgb(158, 206, 154, .5);
    width: 85%;
    float: left;
} */

/* .reply .user-message {
    width: 85%;
    float: right;
} */

.reply .user-message {
    margin-top: 20px;
}

.btn {
    float: right;
    padding: .5em 3em;
}