.container {
    color: black;
    width: 20vw;
    height: auto;
    margin-bottom: 1.5em;
}

.container #title{
    text-align: center;
    user-select: none;
}

.content-container .user-input{
    outline: 0;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: .5em 15px;
    font-size: 1.2em;
    margin: .5em 0;
    width: 100%;
    transition: all 0.3s ease 0s;
}
.content-container .user-input:hover{
    box-shadow: inset 0 0 2px #000000;
}

mat-dialog-content button {
    padding: .5em 4em;
    width: 100%;
    margin-top: .5em;
    letter-spacing: 2px;
}
mat-dialog-content .btn {
    background: #4990fa;
    border: #4990fa;
}
mat-dialog-content .btn:hover {
    background: #3572ce;
}