<div class='container'>

    <!-- feed header -->
    <div class='header'>
        <p>Messages</p>

        <div class='search'>
            <mat-icon>search</mat-icon>
            <input type="text" id="input-search" placeholder="Search">
        </div>
        </div>

        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Sender Name</th>
                <th>Date Received</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody >
            <tr >
                <td>Dummy</td>
                <td>xx/xx/xx</td>
                <td id="actions">
                <mat-icon> 
                    <input (click)="openMessage()" type="submit" value="reply" id="reply">
                </mat-icon>
                <mat-icon> 

                    <input type="submit" value="close" id="close">
                </mat-icon>
                </td>
            </tr>
            
        </tbody>
    </table>

</div>