/* TABLE START */
div.container {
    width: 90%;
    margin: auto;
}
div.header {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.header p {
    font-size: 2em ;
    font-weight: bold;
    letter-spacing: .02em;
    display: inline;
    margin: 0;
}

div.header .search{
    display: flex;
    align-items: center;
    width: 30%;
    
    border: 1px solid #c7c7c7;
    padding-left: 1em;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}
div.header .search mat-icon{
    user-select: none;
}

div.header .search:hover {
    box-shadow: inset 0 0 2px #000000;
}

div.header .search #input-search{
    border: 0;
    height: 2.5em;
    width: 100%;
    outline-width: 0;
    background:transparent;
}
.table {
    vertical-align: middle;
    text-align: center;
}
tbody tr {
    transition: all 0.3s ease 0s;
}
tbody tr:hover {
    background-color: #a7a9ff;
}
tbody td{
    vertical-align:middle;
}

.table tbody #actions mat-icon{
    margin-right: 5px;
}
.table tbody #actions input{
    margin: 0 5px;
    border: 0;
    background: transparent;
    transition: all 0.3s ease-in-out 0s;
}
.table tbody #actions input#reply{
    color: #22aeff;
    background: #e4efff;
}
.table tbody #actions input#close{
    color: #ff2222;
    background: #ffe4e4;
}
.table tbody #actions input#reply:hover{
    color: #e4efff;
    background: #22aeff;
}
.table tbody #actions input#close:hover{
    color: #ffe4e4;
    background: #ff2222;
}