
<div class='container' *ngIf="project">
    <!-- feed header -->
    <div class='header'>
        <span>Project</span>

        <!-- <div class='search'>
            <mat-icon>search</mat-icon>
            <input type="text" id="input-search" placeholder="Search">
        </div> -->
    </div>


    <div class='content-container'>
        <div class='img-container'>
            <img src="{{project.fileName}}" alt="">
        </div>

        <div class='content-info'>
            <p>{{project.name}}</p>
            <p>{{project.authorName}}</p>

            <p>{{project.description}}</p>
        </div>

        <div class="comment-section">
            <span>{{project.comments.length}}</span><span> Comments</span>

            <div class="user-comment">
                <img src="../../assets/imgs/sample_user.jpg" alt="user_picture" class='commenter-picture'>
                
                <div class="add-comment">
                    <textarea cols="30" rows="2" placeholder="Your comment here..." id="comment"></textarea>

                    <div class="action-container">
                        <label for="attach" id="attach-lbl"> <mat-icon> attach_file </mat-icon> </label>
                        <input type="file" id="attach">
                        <mat-icon> <input type="submit" value="send" id="submit"> </mat-icon> 

                    </div>

                </div>
                <!-- <input type="file" id="attach" value="a"> -->


            </div>

            <div class="others-comment">
                <div class="content" *ngFor="let comment of project.comments">
                    <div class="commenter-info">
                        <img src="../../assets/imgs/user_icon.png" alt="user_picture" class='commenter-picture'>
                        <span>{{comment.authorName}}</span>
                    </div>
                    <p>{{comment.comment}}</p>
                    <div class="comment">
                        <div class="media" *ngIf="comment.fileType == 'video/mp4'">
                            <video controls class="vid">
                                <source src="{{comment.fileName}}" type="video/mp4" style="height: auto; width: 80px;">
                            </video>
                        </div>
                        <div class="media" *ngIf="comment.fileType == 'image/jpeg'">
                            <img src="{{comment.fileName}}" alt="" class='media-content'>
                        </div>
                        
                    </div>
                </div>
                <!-- ============== -->
            </div>
        </div>
    </div>
</div>

