
<div class='container'>
    <!-- feed header -->
    <div class='header'>
        <span>Selected Project Title</span>

        <!-- <div class='search'>
            <mat-icon>search</mat-icon>
            <input type="text" id="input-search" placeholder="Search">
        </div> -->
    </div>


    <div class='content-container'>
        <div class='img-container'>
            <img src="../../assets/imgs/filler.png" alt="">
        </div>

        <div class='content-info'>
            <p>Content Title</p>
            <p>Author</p>

            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Dignissimos, sit 
                aperiam. A et aliquid cumque quasi 
                neque officiis numquam eligendi 
                perferendis debitis incidunt hic, ipsa 
                sint dolor explicabo quaerat iste!</p>
        </div>

        <div class="comment-section">
            <span>1,000</span><span> Comments</span>

            <div class="user-comment">
                <img src="../../assets/imgs/sample_user.jpg" alt="user_picture" class='commenter-picture'>
                
                <div class="add-comment">
                    <input type="text" placeholder="Your comment here..." id="comment" >

                    <div>
                        <mat-icon> attach_file</mat-icon>
                        <mat-icon>send</mat-icon>
                    </div>
                </div>
            </div>

            <div class="others-comment">
                <div class="content">
                    <div class="commenter-info">
                        <img src="../../assets/imgs/user_icon.png" alt="user_picture" class='commenter-picture'>
                        <span>Commenter</span>
                    </div>

                    <div class="comment">
                        <div class="media">
                            <video controls class="vid">
                                <source src="../../assets/imgs/video_filler.mp4" type="video/mp4">
                            </video>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptas nostrum obcaecati tempore ad nam tenetur dolores corrupti fugit pariatur.</p>
                    </div>
                </div>
                <!-- ============== -->
                <div class="content">
                    <div class="commenter-info">
                        <img src="../../assets/imgs/user_icon.png" alt="user_picture" class='commenter-picture'>
                        <span>Commenter</span>
                    </div>

                    <div class="comment">
                        <div class="media">
                            <img src="../../assets/imgs/filler.png" alt="" class='media-content'>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptas nostrum obcaecati tempore ad nam tenetur dolores corrupti fugit pariatur.</p>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
</div>

