
<div class='container' *ngIf="project">
    <!-- feed header -->
    <div class='header'>
        <span>Project</span>

        <!-- <div class='search'>
            <mat-icon>search</mat-icon>
            <input type="text" id="input-search" placeholder="Search">
        </div> -->
    </div>


    <div class='content-container'>
        <div class='img-container'>
            <img src="{{project.fileName}}" alt="">
        </div>

        <div class='content-info'>
            <p>{{project.name}}</p>
            <p>{{project.authorName}}</p>

            <p>{{project.description}}</p>
        </div>

        <div class="comment-section">
            <span>{{project.comments.length}}</span><span> Comments</span>

            <div class="user-comment">
                <p *ngIf="currentUser" style="font-weight: bold;">{{currentUser.user.name}}</p>
                
                <div class="add-comment">
                    <textarea cols="30" rows="2" placeholder="Your comment here..." id="comment" [(ngModel)]="comment.comment"></textarea>

                    <div class="action-container">
                        <label for="attach" id="attach-lbl"> <mat-icon> attach_file </mat-icon> </label>
                        <input type="file" id="attach" (change)="onFileChange($event.target.files)">
                        <mat-icon> <input type="submit" value="send" (click)="submitComment(project._id,currentUser.user._id)"> </mat-icon> 
                    </div>
                
                </div>
                <!-- <input type="file" id="attach" value="a"> -->


            </div>

            <div class="others-comment">
                <div class="content" *ngFor="let comment of project.comments">
                    <div class="commenter-info">
                        <span>{{comment.authorName}}:</span>
                    </div>
                    <div class="comment">
                        <p>{{comment.comment}}</p>

                        <div class="media" *ngIf="comment.fileType == 'video/mp4'">
                            <video controls class="vid">
                                <source src="{{comment.fileName}}" type="video/mp4" style="height: auto; width: 80px;">
                            </video>
                        </div>
                        <div class="media" *ngIf="comment.fileType == 'image/jpeg'">
                            <img src="{{comment.fileName}}" alt="" class='media-content'>
                        </div>
                        <div class="media" *ngIf="comment.fileType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                            <a href="{{comment.fileName}}">file here (access in ms word)</a>
                        </div>
                        <div class="media" *ngIf="comment.fileType == 'application/msword'">
                            <a href="{{comment.fileName}}">file here (access in ms word)</a>
                        </div>
                        <div class="media" *ngIf="comment.fileType == 'audio/mpeg'">
                            <audio controls>
                                <source src="{{comment.fileName}}" type="audio/mpeg">
                              Your browser does not support the audio element.
                              </audio>
                        </div>
                    </div>
                <hr>
                </div>
                <!-- ============== -->
            </div>
        </div>
    </div>
</div>

