<div class="alert alert-success alert-dismissible fade show" role="alert" style="padding: 8px; position: fixed; width: 100%;" *ngIf="commentSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 5px;" (click)="resetNotifications()">
    <span aria-hidden="true">×</span>
  </button>
  <strong>Project has been created!</strong> If project is not seen kindly refresh your browser
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" style="padding: 8px; position: fixed; width: 100%;" *ngIf="commentDeleted">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 5px;" (click)="resetNotifications()">
    <span aria-hidden="true">×</span>
  </button>
  <strong>Project has been deleted</strong> If project is not deleted kindly refresh your browser
</div>
<div class='container'>

    <!-- feed header -->
    <div class='header'>
      <p>Dashboard</p>

      <div class='search'>
          <mat-icon>search</mat-icon>
          <input type="text" id="input-search" placeholder="Search">
      </div>
    </div>
    
    <div id="newProj">
      <button mat-button id="newProj-btn" class="btn btn-primary" (click)="openDialog()">New Project</button>
    </div>

    <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Author</th>
            <th>Date Posted</th>
            <th>Comments</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="projects$">
          <tr *ngFor="let project of projects$">
            <td> {{ project.name}} </td>
            <td> {{ project.authorName}} </td>
            <td> {{ project.uploaded | date }}  </td>
            <td> {{ project.comments.length }} Comments </td>
            <td id="actions">
              <mat-icon> 
                <input 
                  [routerLink]="['/dashboard/project/', project._id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                  type="submit" value="edit" id="edit"
                >  
                <input type="submit" value="close" id="close" (click)="deleteProject(project._id,currentUser.user._id)">
              </mat-icon>
            </td>
          </tr>
          
        </tbody>
    </table>

</div>
