* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NEW PROJ BUTTON */
div#newProj {
    padding: 3em 0;
    float: right;
}
button#newProj-btn{
    margin-right: 2em;
    padding: .5em 2em;
}
/* NEW PROJ BUTTON */

/* HEADER START */
div.container {
    width: 90%;
    padding-top: 2em;
    margin: auto;
    background:transparent;
}
div.header {
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
}

div.header p {
    font-size: 2em ;
    font-weight: bold;
    letter-spacing: .02em;
    display: inline;
    margin: 0;
}

div.header .search{
    display: flex;
    align-items: center;
    width: 30%;
    
    border: 1px solid #c7c7c7;
    padding-left: 1em;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}
div.header .search mat-icon{
    user-select: none;
}

div.header .search:hover {
    box-shadow: inset 0 0 2px #000000;
}

div.header .search #input-search{
    border: 0;
    height: 2.5em;
    width: 100%;
    outline-width: 0;
    background:transparent;
}
/* HEADER END */

/* TABLE START */
tbody tr {
    transition: all 0.3s ease 0s;
}
tbody tr:hover {
    background-color: rgb(158, 206, 154);
}
tbody td{
    vertical-align:middle;
}

.table tbody #actions mat-icon{
    margin-right: 5px;
}
.table tbody #actions input{
    border: 0;
    background: transparent;
    transition: all 0.3s ease-in-out 0s;
}
.table tbody #actions input#edit{
    color: #22aeff;
    background: #e4efff;
}
.table tbody #actions input#close{
    color: #ff2222;
    background: #ffe4e4;
}
.table tbody #actions input#edit:hover{
    color: #e4efff;
    background: #22aeff;
}
.table tbody #actions input#close:hover{
    color: #ffe4e4;
    background: #ff2222;
}
/* TABLE END */
/* 
#bg{
    background-image: url("../../assets/imgs/farm.jpg");
    height: 100vw;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    object-fit: contain;
} */