
<div id="home">

    <nav>
        <h1 id="title">SOAP</h1>

        <ul id="actions">
            <li> 
                <div id="userLogin">
                    <button mat-button id="userLogin-btn" class="btn btn-primary" (click)="openLogin()">Login</button>
                </div> 
            </li>
            <li> 
                <div id="userSignup">
                    <button mat-button id="userSignup-btn" class="btn btn-primary" (click)="openSignup()">Signup</button>
                </div>
            </li>
        </ul>
    </nav>
    
    <div class="jumbotron jumbotron-fluid">
        <div class="content">
            <div class="img">
                <img src="../../assets/imgs/home.png" alt="">
            </div>
            <div class="caption">
                <h1 class="display-3">About SOAP</h1>
                <p class="lead">
                    SOAP (Sustainable Organic Agricultural Project) Is A Web Application Development for Content and Information Management
                </p>
                <p class="lead">
                    The ‘SOAPers’ or members of the Sustainable Organic Agricultural Project Team of the Research Center for the Social Sciences and Education (RCSSED) of the University of Santo Tomas, has taken a proactive stance towards the issue of ensuring food security most especially during a state of public emergency created by COVID-19.
                </p>
            </div>
        </div>
    </div>

    <div id="bg-contain">
        <div id="bg"></div>
        <!-- <p>© 2021 | SOAP</p> -->
    </div>

</div>


<div class="card-container">
    <h2> Our Features: </h2>
    
    <div class="soap-card" style="">
        <div class="card-content first">
            <img class="card-img-top" src="../../assets/imgs/card-1.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Publish Content</h4>
                <p class="card-text">
                    Admins can publish projects related to their baranggay activities and users can interact with the published projects.
                </p>
            </div>
        </div>

        <div class="card-content second">
            <img class="card-img-top" src="../../assets/imgs/filler.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project Tracker</h4>
                <p class="card-text">
                    Admins can monitor the content of published projects, including the comments and files uploaded by users.
                </p>
            </div>
        </div>

        <div class="card-content third">
            <img class="card-img-top" src="../../assets/imgs/filler.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">24/7 Support</h4>
                <p class="card-text">
                    Users can contact an admin with regards to a certain project or issues that they can encounter while using the app by using the "Support" feature.
                </p>
            </div>
        </div>


    </div>
    

</div>

